---

---

<header>
  <nav>
    <img
      class="avatar w-15 h-10 rounded"
      src="/resources/miya.jpg"
      alt="Miya's avatar"
    />
    <div>
      <ul>
        <li><a href="#about-me">About Me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#employment">Employment</a></li>
        <li><a href="#volunteering">Volunteering</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div class="flex gap-x-1">
      <a
        href="https://github.com/yourusername"
        target="_blank"
        rel="noopener noreferrer"
    >
      <img
        src="/src/resources/icons/github.svg"
        alt="GitHub"
        class="w-8 h-8"
        class="svg-icon"
      />
    </a>
      <a href="mailto:your-email@example.com">
        <img
          src="/src/resources/icons/mail-svgrepo-com.svg"
          alt="Email"
          class="w-9 h-9"
        />
      </a>
      <a
        href="https://discord.com/users/yourdiscordid"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/src/resources/icons/discord-icon.svg"
          alt="Discord"
          class="w-9 h-9"
        />
      </a>
      <button id="dark-mode-toggle" aria-label="Toggle dark mode">
        <img
          src="/src/resources/icons/dark-mode-svgrepo-com.svg"
          alt="Dark Mode"
          class="w-9 h-9"
        />
      </button>
    </div>
  </nav>

  <script>
    document
      .getElementById("dark-mode-toggle")
      .addEventListener("click", () => {
        document.body.classList.toggle("dark-mode");
      });
  </script>
</header>

<style>
  header {
    background-color: #333;
    padding: 1rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    margin: 0;
    padding: 0 1rem;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
  avatar {
    justify-content: left;
    display: flex;
    align-items: center;
  }
  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
    .svg-icon {
        fill: yellow;
    }
</style>
