---

---

<div class="hero flex items-center justify-start h-screen bg-gray-900">
  <div class="max-w-xl p-8">
    <h1 class="text-4xl font-bold text-white">
        Hi!
    </h1>
    <p class="mt-4 text-lg text-white">
        I am a Bangalore based engineer with a passion to over-engineer common
        solutions.
    </p>
    <button
      class="mt-6 px-6 py-3 text-white bg-blue-500 rounded-lg hover:bg-blue-600"
    >
      Get Started
    </button>
  </div>
</div>

<div class="hero place-content-center">
  <h1 class="text-center"></h1>
  <p>
    
  </p>
</div>
<style>
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #383737;
  }

  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .hero p {
    font-size: 1.25rem;
  }
</style>
